<div class="wrapper">
	<h2 class="title">{{title}}</h2>

	<button class="button button--start" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Call</button>

	<button class="button button--stop" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Call</button>

	<button class="button button--cancel" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Call</button>

	<button class="button button--save" *ngIf="!isRecording && blobUrl && saveable" (click)="save()">Save Call</button>

	<div class="timer" *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
	<div>
		<audio class="audio" *ngIf="!isRecording && blobUrl" controls autoplay>
			<source [src]="blobUrl" type="audio/webm">
		</audio>
	</div>
</div>