.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.menu {
    background-color: var(--c-background-accent);
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logout {
    background-color: var(--c-warning)
}

.container {
    padding: 0 20px;
    height: fit-content;
}