<h2>{{ title }}</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <span class="hint">Fill all fields</span>
  
  <div>
    <label for="login">
      Login
    </label>
    <input id="login" type="text" formControlName="login">
  </div>

  <div>
    <label for="fio">
      Full name
    </label>
    <input id="fio" type="text" formControlName="fio">
  </div>

  <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="password" formControlName="password">
  </div>

  <div>
    <label for="passwordRepeat">
      Repeat password
    </label>
    <input id="passwordRepeat" type="password" formControlName="passwordRepeat">
  </div>

  <button class="button" type="submit" [disabled]="registerForm.invalid">Register</button>
  <div class="no_account">Have account? <a routerLink="/login">Login</a></div>

</form>